<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
        </div>
    </div>
</div>
<div *ngIf="!showFormCheck" class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="row align-items-center p-2">
                    <div class="col-4">
                        <h3 class="mb-0">User</h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-0">
                            <input class="form-control" type="text" [(ngModel)]="searchText"
                                placeholder="Search with Name">
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <a class="btn btn-sm btn-primary" (click)="showForm('Add',null)">Add</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone#</th>
                                <th scope="col">Role</th>
                                <th scope="col">Action</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let list of filterUser() | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage; let i = index">
                                <td>
                                    {{ (currentPage - 1) * itemsPerPage + i + 1 }}
                                </td>
                                <td>
                                    {{list.userName}}
                                </td>
                                <td>
                                    {{list.contactPhone}}
                                </td>
                                <td>
                                    {{list.role}}
                                </td>
                                <td>
                                    <i title="edit" class="fas fa-edit cursor" (click)="showForm('Update',list)"></i>
                                    &nbsp;
                                    <i title="delete" class="fas fa-trash cursor" (click)="delete(list.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination *ngIf="listOfUser.length > 0" style="display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 2%;" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
                    [totalItems]="listOfUser.length" (pageChange)="changePage($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>


<!-- Form -->
<div *ngIf="showFormCheck" class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{formHeading}} User</h3>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-times-circle cursor" (click)="showForm('close',null)"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="userForm">
                        <h6 class="heading-small text-muted mb-4">User information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Username<span class="error">*</span></label>
                                        <input type="text" formControlName="userName"
                                            class="form-control form-control-alternative" placeholder="Username">
                                        <span class="error" *ngIf="validateCheck && errorCtr.userName.errors?.required">
                                            name is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Unique Name<span
                                                class="error">*</span></label>
                                        <input type="email" formControlName="email"
                                            class="form-control form-control-alternative" placeholder="Unique Name">
                                        <span class="error" *ngIf="validateCheck && errorCtr.email.errors?.required">
                                            email is required.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Password<span *ngIf="formHeading == 'Add'"
                                                class="error">*</span></label>
                                        <input type="password" formControlName="password"
                                            class="form-control form-control-alternative" placeholder="*******">
                                        <span class="error" *ngIf="validateCheck && errorCtr.password.errors?.required">
                                            password is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Gender<span class="error">*</span></label>
                                        <select class="form-control form-control-alternative" formControlName="gender">
                                            <option value="">Select</option>
                                            <option value="false">Male</option>
                                            <option value="true">Female</option>
                                        </select>
                                        <span class="error" *ngIf="validateCheck && errorCtr.gender.errors?.required">
                                            gender is required.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Role<span class="error">*</span></label>
                                        <select class="form-control form-control-alternative" formControlName="role">
                                            <option value="">Select</option>
                                            <option value="Doctor">Doctor</option>
                                            <option value="Despenser">Despenser</option>
                                            <option value="Receptionist">Receptionist</option>
                                        </select>
                                        <span class="error" *ngIf="validateCheck && errorCtr.role.errors?.required">
                                            role is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">CNIC <span style="font-size: 10px;">(without
                                                Dashes)</span><span class="error">*</span></label>
                                        <input type="text" formControlName="cnic" maxlength="13"
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                            class="form-control form-control-alternative" placeholder="*************">
                                        <span class="error" *ngIf="validateCheck && errorCtr.cnic.errors?.required">
                                            CNIC is required.
                                        </span>
                                        <span class="error" *ngIf="userForm.get('cnic').hasError('minlength')">
                                            CNIC should be 13.
                                        </span>
                                        <span class="error" *ngIf="userForm.get('cnic').hasError('maxlength')">
                                            CNIC should be 13.
                                        </span>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Contact Number<span
                                                class="error">*</span></label>
                                        <input type="text" formControlName="contactPhone" maxlength="11"
                                            oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                                            class="form-control form-control-alternative" placeholder="xxxxxxxxxx">
                                        <span class="error"
                                            *ngIf="validateCheck && errorCtr.contactPhone.errors?.required">
                                            Number is required.
                                        </span>
                                        <span class="error" *ngIf="userForm.get('contactPhone').hasError('minlength')">
                                            Number should be 11.
                                        </span>
                                        <span class="error" *ngIf="userForm.get('contactPhone').hasError('maxlength')">
                                            Number should be 11.
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="my-4" />
                        <!-- Address -->
                        <h6 class="heading-small text-muted mb-4">Contact information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-address">Address</label>
                                        <input id="input-address" class="form-control form-control-alternative"
                                            placeholder="Home Address" formControlName="address" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 text-right">
                                <a class="btn btn-sm btn-primary" (click)="submitForm(formHeading)">{{formHeading}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>