.large-checkbox {
    transform: scale(1.5); /* Adjust the scale factor as needed for the desired size */
    margin-right: 5px; /* Add some spacing between the checkbox and label */
  }
  
  .align-self-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  