<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body"></div>
    </div>
</div>
<div *ngIf="!showFormCheck" class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="row align-items-center p-2">
                    <div class="col-4">
                        <h3 class="mb-0">Medicine</h3>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group mb-0">
                            <input class="form-control" type="text" [(ngModel)]="searchText"
                                placeholder="Search with Name">
                        </div>
                    </div>
                    <div class="col-4 text-right">
                        <a class="btn btn-sm btn-primary" (click)="showForm('Add')">Add</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Sr.No</th>
                                <th scope="col">Name</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Action</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let list of filterMedicine() | slice:(currentPage-1)*itemsPerPage:currentPage*itemsPerPage; let i = index">
                                <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
                                <td>{{list.medicineName}}</td>
                                <td>{{list.unitofMeasure}}</td>
                                <td>
                                    <i title="edit" class="fas fa-edit cursor" (click)="showForm('Update',list)"></i>
                                    &nbsp;
                                    <i title="delete" class="fas fa-trash cursor" (click)="delete(list.id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <app-custom-pagination *ngIf="listOfmedi.length > 0" style="display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 2%;" [currentPage]="currentPage" [itemsPerPage]="itemsPerPage"
                    [totalItems]="listOfmedi.length" (pageChange)="changePage($event)"></app-custom-pagination>
            </div>
        </div>
    </div>
</div>

<!-- Form -->
<div *ngIf="showFormCheck" class="container-fluid mt--7">
    <div class="row">
        <div class="col-xl-12 order-xl-1">
            <div class="card bg-secondary shadow">
                <div class="card-header bg-white border-0">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">{{ formHeading }} Medicine</h3>
                        </div>
                        <div class="col-4 text-right">
                            <i class="fa fa-times-circle cursor" (click)="showForm('close')"></i>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form [formGroup]="medicineForm">
                        <h6 class="heading-small text-muted mb-4">Medicine information</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Medicine Type<span
                                                class="error">*</span></label>
                                        <select class="form-control form-control-alternative"
                                            formControlName="medicineTypeId">
                                            <option value="">Select</option>
                                            <option *ngFor="let list of medTypeList" value="{{list.id}}">
                                                {{list.medicineTypeName}}</option>
                                        </select>
                                        <span class="error"
                                            *ngIf="validateCheck && errorCtr.medicineTypeId.errors?.required">
                                            Medicine type is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-control-label">Medicine Name<span
                                                class="error">*</span></label>
                                        <input type="text" formControlName="medicineName"
                                            class="form-control form-control-alternative" placeholder="Medicine Name" />
                                        <span class="error"
                                            *ngIf="validateCheck && errorCtr.medicineName.errors?.required">
                                            Medicine name is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label class="form-control-label">Unit of measure<span
                                                class="error">*</span></label>
                                        <input type="text" formControlName="unitofMeasure"
                                            class="form-control form-control-alternative" placeholder="ml" />
                                        <span class="error"
                                            *ngIf="validateCheck && errorCtr.unitofMeasure.errors?.required">
                                            Unit of measure is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group p-t-34">
                                        <input type="checkbox" formControlName="active" />&nbsp;
                                        <label class="form-control-label">Active</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row align-items-center">
                            <div class="col-12 text-right">
                                <a class="btn btn-sm btn-primary" (click)="submitForm(formHeading)">{{formHeading}}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>